*{
    margin: 0px;
    padding: 0px;
font-family: sans-serif;
}
.Background{
  
    width: 100%;
    height: 130vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.45),rgba(0, 0, 0, 0.45)),
    url(images/12.jpg);
    background-size: cover;
    background-position: center;
    animation: slider 20s linear infinite;
}
@keyframes slider {
    0%{
    background-image: url(images/123.jpg);
    }
    25% {
      background-image: url(images/124.jpg); 
    }
    50% {
        background-image: url(images/125.jpg); 
    }
    75% {background-image: url(images/123.jpg); }
    100% {background-image: url(images/124.jpg); }
}


.navbar {
    margin: 0px;
    width:96.7%;
    padding: 25px;
    justify-content: space-between;
    display: flex;
    background-color: rgba(0, 0, 0, 0.401);
    box-sizing:content-box 
   ; border-bottom: 1px solid #fff;

}


.text{
    color: rgb(232, 185, 19);
    text-transform: uppercase;
    position: absolute;
    top: 8%;
    left:8%;
    text-decoration: underline 6px;
}
.logo {
width: 80px;
cursor: pointer;
margin-top: -2%;
margin-left: 10px%;



}
.navbar ul li {
    list-style-type: none;
    display: inline-block;
    margin: 25px 40px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.navbar ul li::after {
    content: "";
    height: 3px;
    width: 0;
    position: absolute;
    background: rgb(250, 186, 26);
    bottom: -10px;
    left: 0;
    transition: 0.5s;
}
.navbar ul li:hover:after {
    width: 100%;
}
.ul li ul {
    background-color:rgba(0, 0, 0, 0.401) ;
}
.ul li ul li {
    float: none;
}
ul li ul {
    display: none;
}
ul li:hover ul {
    display:block;
}
.content {
    width: 100%;
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
   

}
.content h1 {
    font-size: 55px;
    margin-top: 80px;
}

.content p {
    margin:20px;
    line-height: 25px;
    font-weight: 100;
    font-size: 25px;
}
